@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Vazir FD';
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

.line-anim {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  transition: .3s;
}

.line-anim:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  /* background-color: #90a1b9; */
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* .line-anim:hover {
  color: #F43F5E;
} */
.line-anim:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.circle-gra {
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 0) 0%, rgba(194, 120, 3, .7) 100%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #eab308 #4c4c4c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #4c4c4c;
}

*::-webkit-scrollbar-thumb {
  background-color: #eab308;
  border-radius: 10px;
  border: 3px none #ffffff;
}







.line-anim2 {
  display: flex;
  position: relative;
  padding-bottom: 5px;
  transition: .3s;
}

.line-anim2:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eab308;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

/* .line-anim:hover {
  color: #F43F5E;
} */
.line-anim2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}